@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


 html{
  scroll-behavior: smooth;
 }
 body{
    background-color: black;
 }


 body::-webkit-scrollbar{
  width: 16px;
  background: black;
  border : 2px solid rgb(50 50 50);
  
}

body::-webkit-scrollbar-thumb {
  background: black;
    border-radius:6px;
    border: 1px solid white;

}


body::-webkit-scrollbar-thumb:hover {
  
  background: rgba(70 70 70);
  transition-duration: 200ms;

} 
body::-webkit-scrollbar-track{
  height: 50px;
}


 /* window appear stopping bg  */
 .navbar{
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
   font: normal 16px "Gotham SSm", sans-serif !important;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   /* box-sizing: border-box; */
   height: 100%;
   width: 100%;
   position: fixed;
   overflow-y:hidden ;
   top: 0;
   left: 0;
   z-index: 50;
   display: block;
   
 }

